In [1]:
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd

In [2]:
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'

In [3]:
# set an exe path
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path)

In [15]:
browser.visit(url)
browser.is_element_present_by_css("ul.item_list li.slide", wait_time=1)

True

In [ ]:
html = browser.html
news_soup = soup(html, 'html.parser')
slide_elem = news_soup.select_one('ul.item_list li.slide')
news_title = slide_elem.find("div", class_='content_title')
news_summary = slide_elem.find("div", class_='article_teaser_body')

In [27]:
news_summary

"Sometimes half measures can be a good thing – especially on a journey this long. The agency's latest rover only has about 146 million miles left to reach its destination."

In [28]:
### Feature images

In [36]:
url_image = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'

browser.visit(url_image)

full_image_elem = browser.find_by_id('full_image')
full_image_elem.click()

In [39]:
# step two:
browser.is_element_present_by_text('more info', wait_time=1)
more_info_elem = browser.links.find_by_partial_text('more info')
more_info_elem.click()

In [41]:
html  = browser.html
img_soup = soup(html, 'html.parser')
img_url_rel = img_soup.select_one('figure.lede a img').get("src")
img_url = f'https://www.jpl.nasa.gov{img_url_rel}'
img_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA20316_hires.jpg'

In [48]:
df = pd.read_html('https://space-facts.com/mars/')[0]
df.columns=['description', 'value']
df.set_index('description', inplace=True)
df

                                              value
description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [49]:
browser.quit()